@layer webmodu-base {
  header.banner {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    @extend .mb-4;

    .brand {
      color: $primary;
      font-size: $size-h1;
      text-decoration: none;
    }
  }
}
