header.banner {
  background-color: $white;

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  .brand {
    a {
      display: block;
    }

    figure,
    figcaption {
      margin: 0;
    }
    figcaption {
      margin-top: 8px;
      font-size: 8pt;

      color: $black;
      line-height: 1.2;
    }
  }
}
