$entry-row-height: 200px;

.wp-block-group.is-style-segmented {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & > *:not(:last-child) {
    position: relative;
    padding-right: 0.5rem;

    &:after {
      content: '|';
      position: absolute;
      right: 0;
      width: 0px;
      color: $black;
    }
  }
}

.wp-block-group.is-style-outlined {
  outline: 3px solid darkgray;
  border-radius: $rounding;

  margin-bottom: $paragraph-margin-bottom;

  & > * {
    margin: 0;
  }
}

img:not(.wp-block-cover__image-background) {
  border-radius: $rounding;
}

.wp-block-query {
  ul {
    display: grid;
    grid-template-rows: repeat(auto-fill, $entry-row-height);
    gap: $spacing-3;

    padding: $spacing-3 0;
  }

  li.wp-block-post {
    display: flex;

    figure {
      flex: 1 1 33%;

      margin: 0;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .wp-block-post-content {
      flex: 1 1 66%;

      display: flex;
      // justify-content: center;
      align-items: center;

      padding: $spacing-4;

      overflow: hidden;
      text-overflow: ellipsis;

      width: 100%;
      height: $entry-row-height;
    }
  }

  li.hentry {
    &:nth-child(odd) {
      flex-direction: row;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
