@import 'wp';

$font-body: 'Open sans', sans-serif;
$font-headings: 'DIN', sans-serif;

$breakpoint-sm: 880px;

$container-max-width: 1000px;

$link-color: #007560;
$link-color-hover: darken($link-color, 10%);
