$primary: var(--wp--preset--color--primary);
$primary-light: var(--wp--preset--color--primary-light);
$secondary: var(--wp--preset--color--secondary);
$secondary-light: var(--wp--preset--color--secondary-light);
$white: var(--wp--preset--color--white);
$black: var(--wp--preset--color--black);
$light: var(--wp--preset--color--light);

$spacing-1: var(--wp--preset--spacing--1);
$spacing-2: var(--wp--preset--spacing--2);
$spacing-3: var(--wp--preset--spacing--3);
$spacing-4: var(--wp--preset--spacing--4);
$spacing-5: var(--wp--preset--spacing--5);
